    .woocommerce ul.products li.product .add_to_cart_button {
        display: none !important;
    }
    
    .eael-grid-post-excerpt,
    .pt-cv-ifield {
        text-align: center;
    }
    
    .woocommerce-loop-product__title {
        padding: 5px !important
    }
    
    .elementor-18 .elementor-element.elementor-element-3473531 .eael-product-grid .woocommerce ul.products li.product {
        border-color: white;
    }
    
    .elementor-form-fields-wrapper input {
        padding: 14px 0
    }
    
    .elementor-element-2b3cbb9 .pt-cv-title {
        margin: 19px 0 5px 0;
        padding-left: 6px;
        letter-spacing: -0.6px;
    }
    
    .elementor-element-2b3cbb9 .pt-cv-content {
        padding-left: 12px;
    }
    
    .elementor-element-f96e755 .pt-cv-title {
        background: #95ac27;
        width: 84px;
        padding: 2px 0;
        margin: 21px 0 61px 0;
        border-radius: 4px;
    }
    
    .elementor-element-0d0f7b1 {
        margin-bottom: 0 !important;
    }
    
    .elementor-element-995c035 {
        margin: 10px 0 0 0 !important;
        line-height: 1.5;
    }
    
    .elementor-element-995c035 p {
        width: 90%;
        margin: 0 auto;
    }
    
    .elementor-element-f96e755 .pt-cv-content a {
        padding: 0;
        border-bottom: 2px solid black;
        margin-top: 19px;
    }
    
    .elementor-element-cb3019e .elementor-widget-wrap,
    .elementor-element-cb3019e.elementor-widget-wrap {
        width: 90%;
    }
    
    .elementor-element-0245975 img,
    .elementor-element-68eb8d1 img,
    .elementor-element-2b42cfc img,
    .elementor-element-f064aa1 img,
    .elementor-element-4308051 img,
    .elementor-element-105738f img,
    .elementor-element-3feb8c8 img,
    .elementor-element-0701d7d img,
    .elementor-element-d23a7c7 img,
    .elementor-element-6f6b417 img {
        width: 100% !important;
    }
    
    .pt-cv-title a {
        margin-top: 27px;
    }
    
    .pt-cv-title a,
    .woocommerce-product-details__short-description p,
    .pt-cv-content,
    .pt-cv-readmore {
        color: #222222;
        font-family: "a-markprobook", Sans-serif;
    }
    
    .elementor-element-e8c06f3 .pt-cv-content .pt-cv-readmore {
        border: 2px solid black;
        border-radius: 3px;
        padding: 9px 25px;
    }
    
    .elementor-field-group #submitEmail span {
        padding: 9px 1px
    }
    
    .elementor-239 .elementor-element.elementor-element-e8d5c83 .menu-item a.hfe-menu-item,
    .elementor-239 .elementor-element.elementor-element-f70e3e3 .menu-item a.hfe-menu-item {
        padding-left: 0 !important;
    }
    
    .elementor-field-type-email {
        width: 100% !important;
    }
    
    .elementor-form-fields-wrapper .e-form__buttons {
        width: 100%;
    }
    
    .elementor-field-type-email input {
        border: none !important;
        border-bottom: 2px solid black !important;
    }
    
    .elementor-form-fields-wrapper,
    .elementor-text-editor {
        margin: 0 auto !important;
    }
    
    .elementor-form-fields-wrapper {
        width: 90%;
    }
    
    .woocommerce-product-details__short-description p {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 13px 0;
    }
    
    .product {
        margin-top: 4px !important;
    }
    
    .woocommerce-loop-product__title {
        margin-top: 37px !important;
    }
    
    .elementor-text-editor {
        width: 48% !important;
    }
    
    #comment-cus {
        width: 90%;
    }
    
    .elementor-element-e117df8 .elementor-widget-wrap {
        justify-content: center;
    }
    
    @media screen and (min-width: 768px) {
        .elementor-field-type-email {
            width: 88% !important;
        }
        .elementor-form-fields-wrapper .e-form__buttons {
            width: 12%;
        }
    }
    
    @media screen and (min-width: 992px) {
        .elementor-18 .elementor-element.elementor-element-e8c06f3>.elementor-container,
        .elementor-18 .elementor-element.elementor-element-f96e755>.elementor-container {
            max-width: 1420px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .elementor-element-995c035 {
            padding-left: 39px;
        }
        .elementor-18 .elementor-element.elementor-element-7acc44b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-4c9a1db>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-84e5eb7>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-b5dd010>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-8ce64af>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-784ad16>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-d14158b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-110b63b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-3772ab2>.elementor-widget-container {
            margin: 0px 0px 0px 50px;
        }
        .elementor-18 .elementor-element.elementor-element-7acc44b .elementor-heading-title,
        .elementor-18 .elementor-element.elementor-element-8ce64af .elementor-heading-title,
        .elementor-18 .elementor-element.elementor-element-110b63b .elementor-heading-title {
            font-size: 25px;
        }
        .elementor-18 .elementor-element.elementor-element-903c60f>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-77581f4>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-ddbba67>.elementor-widget-container {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0150px;
        }
        .elementor-18 .elementor-element.elementor-element-903c60f {
            top: 33%;
        }
        .elementor-18 .elementor-element.elementor-element-77581f4 {
            top: 45%;
        }
        .elementor-18 .elementor-element.elementor-element-ddbba67 {
            top: 70%;
        }
        .elementor-18 .elementor-element.elementor-element-77581f4 .elementor-heading-title {
            color: #222222;
            font-family: "a-markprobook", Sans-serif;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: -1.7px;
        }
    }
    
    @media screen and (min-width: 1440px) {
        .elementor-element-995c035 p {
            width: 30%;
            margin: 0 auto;
        }
        .elementor-18 .elementor-element.elementor-element-7acc44b .elementor-heading-title,
        .elementor-18 .elementor-element.elementor-element-8ce64af .elementor-heading-title,
        .elementor-18 .elementor-element.elementor-element-110b63b .elementor-heading-title {
            font-size: 40px;
        }
        .elementor-18 .elementor-element.elementor-element-7acc44b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-4c9a1db>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-84e5eb7>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-8ce64af>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-d14158b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-110b63b>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-3772ab2>.elementor-widget-container {
            margin: 0px 0px 0px 70px;
        }
        .elementor-18 .elementor-element.elementor-element-b5dd010>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-8ce64af>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-784ad16>.elementor-widget-container {
            margin: 0px 0px 0px 75px;
        }
        .elementor-18 .elementor-element.elementor-element-77581f4 .elementor-heading-title {
            font-size: 60px;
        }
    }
    
    @media screen and (min-width: 1503px) {
        .elementor-element-e117df8 .elementor-widget-wrap {
            justify-content: left;
        }
    }
    
    @media screen and (min-width: 1580px) {
        .elementor-18 .elementor-element.elementor-element-84e5eb7,
        .elementor-18 .elementor-element.elementor-element-784ad16 {
            top: 50%
        }
        .elementor-18 .elementor-element.elementor-element-3772ab2 {
            top: 52%;
        }
        #comment-cus {
            width: 50%;
        }
        .elementor-form-fields-wrapper {
            width: 42%;
        }
    }
    
    @media screen and (min-width: 1920px) {
        .elementor-18 .elementor-element.elementor-element-eb14f17 {
            top: 72%;
        }
        .elementor-18 .elementor-element.elementor-element-903c60f>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-77581f4>.elementor-widget-container,
        .elementor-18 .elementor-element.elementor-element-ddbba67>.elementor-widget-container {
            padding: 0px 0px 0px 0250px;
        }
        .elementor-18 .elementor-element.elementor-element-77581f4 {
            top: 39%;
        }
        .elementor-18 .elementor-element.elementor-element-ddbba67 {
            top: 59%;
        }
    }